.App{
  display: flex;
  margin: 50px 10px;
}
.navigation{
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 122, 247);
  border-radius: 10px;
  padding-bottom: 20px;
  height: 120vh;
}
.navigationComp{
  display: flex;
  padding: 30px 30px;
  color:white;
  font-size: 20px;
}
.navigationComp p{
  margin: 0 8px;
  padding: 0;
}
.navigationComp p:hover{
  cursor: pointer;
}

.smallCard{
  display: flex;
  width:250px;
  padding:10px;
  border-radius: 2px;
}

.smallCard p{
  margin: 10px 0;
}