
.navigation{
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: 50px 10px;
  background-color: rgb(96, 96, 245);
  border-radius: 10px;
}
.navigationComp{
  display: flex;
  padding: 30px 10px;
}